<!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Page 1</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>Alert System</h1>
  <button id="createAlertBtn" class=" btn btn-dark">Create Alert</button>
  
  <div id="alertForm" style="display: none; padding-top: 40px;">
    <form action="/create-alert" method="post">
    <div class="form-group" style="padding: 0px 20px;">
        <label for="title">Alert Title:</label>
        <input type="text" class="form-control col-sm-3" placeholder="Title" id="title" name="title" maxlength="50" required><br>
        <label for="time">Alert Time:</label>
        <input type="time" class="form-control" id="time" name="time" required><br>
          <label for="date">Alert Date:</label>
          <input type="date" class="form-control" id="date" name="date" required><br>
        <label for="type">Alert Type:</label>
        <select id="type" class="form-control" name="type">
          <option value="Level 1">Level 1</option>
          <option value="Level 2">Level 2</option>
          <option value="Level 3">Level 3</option>
        </select><br>
        <button type="submit" class="btn btn-dark">Create</button>
        </div>
    </div>
  </form>
  
  <h2 style="text-align: center; padding-top: 20px;">Alerts List</h2>
  <div style="padding : 0px 20px">
  <table class="table table-dark">
    <thead>
      <tr class="table-light">
        <th>Alert Title</th>
        <th>Alert Time</th>
        <th>Alert Date</th>
        <th>Alert Type</th>
      </tr>
    </thead>
    <tbody>
      <% for (const alert of alerts) { %>
        <tr>
          <td><%= alert.title %></td>
          <td><%= alert.time %></td>
          <td><%= alert.date %></td>
          <td><%= alert.type %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
  
  <p id="totalAlerts" style="padding-left: 20px;">Total Active Alerts: <%= alerts.length %></p>
</div>
  <script>
    document.getElementById("createAlertBtn").addEventListener("click", () => {
      const alertForm = document.getElementById("alertForm");
      alertForm.style.display = "block";
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html> -->




<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Page 1</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,300&family=Open+Sans&display=swap" rel="stylesheet">
</head>
  <body>
    <div class="heading">
      <h1>Alert System</h1>
    </div>
    <div class="center-button">
    <button id="createAlertBtn" class="btn btn-dark cr-button">Create Alert</button>
    </div>  
    <div id="alertForm">
      <form action="/create-alert" method="post">
        <div class="form-group table-layout">
          <div class="row gx-2 align-items-center">
            <div class="col-sm-3">
              <label for="title">Alert Title:</label>
              <input type="text" class="form-control" placeholder="Title" id="title" name="title" maxlength="50" required>
            </div>
            <div class="col-sm">
              <label for="time">Alert Time:</label>
              <input type="time" class="form-control" id="time" name="time" required>
            </div>
            <div class="col-sm">
              <label for="date">Alert Date:</label>
              <input type="date" class="form-control" id="date" name="date" required>
            </div>
            <div class="col-sm">
              <label for="type">Alert Type:</label>
              <select id="type" class="form-select" name="type">
                <option value="Level 1">Level 1</option>
                <option value="Level 2">Level 2</option>
                <option value="Level 3">Level 3</option>
              </select>
            </div>
            <div class="col-sm" style="padding-top: 20px;">
              <button type="submit" class=" form-control btn btn-dark">Create</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  <br>
  <h2 style="text-align: center; padding-top: 20px;">Alerts List</h2>
  <div style="padding : 0px 20px">
  <table class="table table-light">
    <thead>
      <tr class="table-dark">
        <th>Alert Title</th>
        <th>Alert Time</th>
        <th>Alert Date</th>
        <th>Alert Type</th>
      </tr>
    </thead>
    <tbody>
      <% for (const alert of alerts) { %>
        <tr>
          <td><%= alert.title %></td>
          <td><%= alert.time %></td>
          <td><%= alert.date %></td>
          <td><%= alert.type %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
  
  <p id="totalAlerts" style="padding-left: 20px;">Total Active Alerts: <%= alerts.length %></p>
</div>
  <script>
    document.getElementById("createAlertBtn").addEventListener("click", () => {
      const alertForm = document.getElementById("alertForm");
      alertForm.style.display = "block";
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

